.container {
    margin-top: 2rem;
    width: 60%;

    @media (max-width: 768px) {
        width: unset;
    }

    .tasksContainer {
        &Header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}